body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 230%;
  margin: 20px 0 20px 0;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
}

p {
  font-size: 100%;
  line-height: 30px;
  color: #fff;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


h3 {
  font-size: 160%;
  color: #fff;
}

#chris {
  margin-top: 0;
  font-size: 6rem;
  font-family: 'Arizonia', cursive;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 50%;
}

.sub-title {
  font-size: 3rem;
}

.cloud-gif {
  margin-top: -15%;
  width: 100%;
  height: 1080px;
}

.info-chris {
  font-size: 180%;
  line-height: 1.5;
}

.christopher-img {
  margin-top: 2%;
  width: 20%;
}

.container1 {
  width: 50%;
}

/* Start of Skills */
.html5-img {
  padding-top: 20%;
  width: 60%;
}

.python-img {
  padding-top: 25%;
  width: 80%;
}

.javascript-img {
  padding-top: 25%;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.contact-me {
  margin-left: auto;
  margin-right: auto;
}

.mail {
  width: 200px;
}

/*Start of Contact form*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #77acf1;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #f2eee0;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0061a8;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*End of Contact form*/
/* Certifications */
.container1 {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw auto;
  position: relative;
  text-align: center;
}

.product {
  flex: auto;
  font-size: 1.5rem;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  min-width: calc(33% - 2vw);
  position: relative;
}

.product:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.content {
  background: white;
  border-radius: 30%;
  height: 84%;
  margin: 8%;
  position: absolute;
  width: 84%;
  vertical-align: middle;
  z-index: 5000;
}

.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 30%;
  display: none;
  mix-blend-mode: multiply;
  height: 84%;
  opacity: 1;
  position: absolute;
  width: 84%;
  z-index: 3000;
}

.effect-1 {
  animation: rotate 1.8s linear infinite;
  background: cyan;
}

.effect-2 {
  animation: rotate 1.2s linear reverse infinite;
  background: #e7a9ff;
}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }

  25% {
    top: 8%;
    left: 0%;
  }

  50% {
    top: 16%;
    left: 8%;
  }

  75% {
    top: 8%;
    left: 16%;
  }

  100% {
    top: 0;
    left: 8%;
  }
}

.title {
  position: relative;
  top: calc(100% + 16px);
}

.exercise {
  border-radius: 5px;
  height: 50%;
  margin: 25%;
  width: 50%;
}
}

.sleep {
  border-radius: 50%;
  height: 50%;
  margin: 25%;
  width: 50%;
}
}

.meditation {
  to top,
  #f3e7e9 0%,
  #e3eeff 99%,
  #e3eeff 100%);
  border-radius: 5px;
  height: 40%;
  margin: 30%;
  transform: rotate(45deg);
  width: 40%;
}

/* End of Skills */
.coding-img {
  border-radius: 100%;
  width: 20%;
}

/*ZR2 image */
.zr2-img {
  width: 40%;
  border-radius: 100%;
}
/*start of Certifications*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  width: 100%;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-block {
  width: 30%;
  min-height: 11.25rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.image-grid {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
  width: 22rem;
}

.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile-link {
  display: block;
}

.tile-link:hover .tile-img {
  opacity: 1;
}

.tile-link:hover .tile-img-link {
  display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}

.tile-img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
    10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
    20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
}

.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
    15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
    25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(214, 221, 244, 0.4),
    10px 10px rgba(214, 221, 244, 0.3), 15px 15px rgba(214, 221, 244, 0.2),
    20px 20px rgba(214, 221, 244, 0.1), 25px 25px rgba(214, 221, 244, 0.05);
}

.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgba(82, 119, 192, 0.4), 10px 10px rgba(82, 119, 192, 0.3),
    15px 15px rgba(82, 119, 192, 0.2), 20px 20px rgba(82, 119, 192, 0.1),
    25px 25px rgba(82, 119, 192, 0.05);
}

.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
    10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
    20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
}

.tile-link:hover .tile-img6 {
  box-shadow: 5px 5px rgba(203, 215, 193, 0.4),
    10px 10px rgba(203, 215, 193, 0.3), 15px 15px rgba(203, 215, 193, 0.2),
    20px 20px rgba(203, 215, 193, 0.1), 25px 25px rgba(203, 215, 193, 0.05);
}

.tile-link:hover .tile-img7 {
  box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3),
    15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
    25px 25px rgba(91, 209, 250, 0.05);
}

.tile-link:hover .tile-img8 {
  box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
    10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
    20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
}

.tile-link:hover .tile-img9 {
  box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3),
    15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
    25px 25px rgba(188, 97, 129, 0.05);
}

.tile-link:hover .tile-img10 {
  box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3),
    15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
    25px 25px rgba(4, 140, 231, 0.05);
}

/*End of Certifications*/
/*Parallax Start*/
body {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#maincontain {
  /*background-color: #d3b0bc; */
  background-color: #0a1729;
  position: relative;
  z-index: 98;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 0%;
  background: -webkit-linear-gradient(rgba(0, 22.5, 44.5, 1), rgba(200, 255, 255, 1));
}

/* PARALLAX */
.keyart, .keyart_layer {
  height: 1000px;
}

#parallax {
  display: none;
}

#nonparallax {
  display: block;
}

#nonparallax {
  background-image: url('');
  /* mobile image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
  background-size: cover;
}

#keyart-0 {
  background-image: url('http://i.imgur.com/txKhHme.png');
  background-color: #ffaf1b;
}

#keyart-1 {
  background-image: url('http://i.imgur.com/qTVCuvY.png');
}

#keyart-2 {
  background-image: url('http://i.imgur.com/6H6GtL1.png');
}

#keyart-3 {
  background-image: url('http://i.imgur.com/CICw5ld.png');
}

#keyart-4 {
  background-image: url('http://i.imgur.com/ixkLm7b.png');
}

#keyart-5 {
  background-image: url('http://i.imgur.com/MnybSr8.png');
}

#keyart-6 {
  background-image: url('http://i.imgur.com/jbOO94A.png');
}

#keyart-7 {
  background-image: url('http://i.imgur.com/jbOO94A.png');
}

#keyart-8 {
  background-image: url('http://i.imgur.com/jbOO94A.png');
}

#keyart-scrim {
  background-color: #ffaf00;
  opacity: 0;
}

/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/
@media (min-width: 601px) {
  #nonparallax {
    display: none;
  }

  #parallax {
    display: block;
  }
}

/*********************/
/*********************/
/* DISABLES PARALLAX */
/*********************/
/*********************/
@media (max-width: 600px) {
  #nonparallax {
    display: block;
  }

  #parallax {
    display: none;
  }
}

@media only screen and (max-device-width: 450px) {

  /* PARALLAX */
  .keyart, .keyart_layer {
    height: 550px;
  }

  .keyart_layer {
    position: absolute;
    background-size: auto 600px;
  }
}

/* Headline */
#logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.alpha-label {
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-size: .15em;
  font-weight: 600;
  display: inline-block;
  padding: .3em .75em;
  line-height: 1;
  vertical-align: top;
  position: absolute;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 25px;
}

#logo-box h1 {
  margin-bottom: .1em;
  font-family: 'Shadows Into Light',
    cursive,
    'Avenir Next',
    Avenir,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
  font-size: 120px;
  color: #161616;
}

#logo-box h2 {
  font-size: 230%;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: -.5em;
  color: #f7ea00;
}

/* button */
.m-t-1 {
  margin-top: 1rem;
}

.btn {
  font-family: 'Avenir Next',
    Avenir,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  display: inline-block;
  padding: .7em 1.4em;
  border-radius: 5px;
  color: #2980b9;
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #2980b9;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.btn-play {
  background: rgba(255, 255, 255, .9);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
  color: #2980b9;
  font-weight: 500;
  padding-right: 30px;
  transition: box-shadow .2s ease;
}

.btn-play:after {
  font-family: "Ionicons";
  content: "\f10b";
  width: 15px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 1px;
  font-weight: 700;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn-play:hover::after {
  left: 15px;
}

.btn-large {
  font-size: 16px;
  padding: 8px 16px;
}

/*Parallax End*/
.bottom-container {
  width: 100%
}

body {
  color: #ccc
}

.footer-widget p {
  margin-bottom: 27px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 28px;
}

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #F5B02E;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }

  50% {
    width: 90%;
  }

  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 75px 0 0;
  background-color: #3a4750;
  position: relative;
  z-index: 2;
}

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff;
}

.dk-footer-box-info {
  position: relative;
  background: #00adb5;
  width: 100%;
  padding: 5%;
  z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #B7242A;
}

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-info-text {
  margin: 26px 0 32px;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #00adb5;
  border: 1px solid #eeeeee
}

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
}

.dk-footer-form button:hover {
  cursor: pointer;
}

/* ==========================

   Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  margin-left: 75px;
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742;
}
